<div class="layout">
  <div class="left">
    <div class="left-content">
      <h3 class="brand">EventLife</h3>
      <h1>Vivez des moments inoubliables.</h1>
      <p>
        Rejoignez la plus grande communauté d'événementiel.
        Découvrez, réservez et partagez vos passions en un clic.
      </p>
    </div>
  </div>

  <div class="right">
    <div class="right-content">
      <h3>Créer un compte</h3>
      <p class="subtitle">
        Complétez vos informations pour une expérience personnalisée.
      </p>

      <app-auth-form></app-auth-form>
    </div>
  </div>
</div>
